<form method="post" action="{{ path('app_chaussure_delete', {'id': chaussure.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ chaussure.id) }}">
    <button class="btn">Delete</button>
</form>
